.ListItem {
	position: relative;
	overflow: hidden;
	height: 45vh;
}

.ListItem img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.ListItem a {
	text-decoration: none;
	color: currentColor;
}

.ListItem .Detail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
	z-index: 3;
	transition: all 0.5s ease;
}

.ListItem:hover .Detail {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	right: 0;
}

.Detail h4 {
	color: #fff;
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
	.ListItem {
		height: 35vh;
	}
}
