.Wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (max-width: 375px) {
	.Wrapper {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	}
}
