.Wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (max-width: 37.5em) {
	.Wrapper {
		grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	}
}
