.Result {
	border: 1px solid teal;
	border-radius: 3px;
	text-align: left;
	padding: 2rem;
	transition: all 0.4s ease;
	cursor: pointer;
	margin-bottom: 2rem;
}

.Result:hover {
	box-shadow: 2px 5px 2rem rgba(0, 0, 0, 0.2);
}

.Result h3 {
	font-size: 2.4rem;
	font-weight: 700;
}

.Result p {
	font-size: 1.8rem;
	font-weight: 400;
}
